{% if currentUser.can('permEmailAcc') or currentUser.admin %}

{% set fullPageForm = true %}
{% block saveButton %}
  <input type="submit" class="btn submit" value="{{ 'Create account'|t }}">
{% endblock %}

{% block content %}




        <input type="hidden" name="action" value="cpanelEmail/mailacc/add">
        <input type="hidden" name="redirect" value="cpanelemail/mailacc">

    {% import "_includes/forms" as forms %}


    <table style="width:450px;">
        <tr>
            <td style="width:210px;" valign="top">
                <div class="field" id="email-field">
                    <div class="heading">
                        <label for="email">{{ "Email"|t }}</label>
                    </div>
                    <div class="input">
                        <input class="text" type="text" id="email" name="email" value="" autocomplete="off"  style="width:200px">
                    </div>
                </div>
            </td>
            <td valign="top">
                <div class="field" id="domain-field">
                    <div class="heading">
                        <label for="domain">{{ "Domain"|t }}</label>
                    </div>
                    <div class="select">
                        <select name="domain" id="domain" style="width:200px">
                            {% set domains = craft.cpanelemail.getEmailDomains %}
                            {% for domain in domains %}
                            <option value="{{ domain.domain }}">@{{ domain.domain }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <table style="width:450px;">
        <tr>
            <td style="width:210px;" valign="top">
                <div class="field" id="pwd1-field">
                    <div class="heading">
                        <label for="pwd1">{{ "Password"|t }}</label>
                    </div>
                    <div class="input">
                        <input class="text" type="password" id="pwd1" name="pwd1" value="" style="width:200px">
                    </div>
                </div>
            </td>
            <td valign="top">
                <div class="field" id="pwd2-field">
                    <div class="heading">
                        <label for="pwd2">{{ "Repeat password"|t }}</label>
                    </div>
                    <div class="input">
                        <input class="text" type="password" id="pwd2" name="pwd2" value="" style="width:200px">
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <br />

    {% set defaultQuota = craft.cpanelemail.defaultQuota %}
    <h2>{{ "Quota"|t }}</h2>
    <input type="radio" name="quota" id="quota-fixed" value="fixed" checked /> <input class="text" type="text" id="quotavalue" name="quotavalue" value="{{ defaultQuota }}" style="width:50px"> {{ "MB"|t }}<br /><br />
    <input type="radio" name="quota" id="quota-unlimited" value="unlimited" /> {{ "Unlimited"|t }}








{% endblock %}

{% extends "cpanelemail/_layout" %}

{% set title = "New Email Account"|t %}

{% set selectedTab = 'mailacc' %}

{% else %}
{% redirect "/"~ craft.config.cpTrigger|default('admin') ~"/email" %}
{% endif %}
